body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

* {
  box-sizing: border-box;
}

html {
  background: darken(light-color, 10%);
}

body {
  color: dark-color;
  width: 100%;
  height: 100%;
}

body,
input,
textarea {
  font-family: sans-serif;
}

label {
  display: block;
  margin-left: 0.8em;
}

input,
textarea {
  border: none;
  border-bottom: solid 1px #d3d3d3;
  border-top: solid 1px #d3d3d3;
  display: block;
  font-size: 1em;
  margin: 0.2em 0 0.6em;
  padding: 0.6em 0.8em;
  width: 100%;
}

header {
  background: primary-color;
  color: light-color;
  padding: 0.8em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
}

h1:empty:before {
  content: '\00A0';
  display: block;
}

h2 {
  margin: 0.6em 0;
}

main {
  padding-top: 2.6em;
}

a {
  display: block;
  padding: 0.8em;
  text-decoration: none;

  &:link,
  &:visited {
    background: light-color;
    color: action-color;
  }

  &:hover,
  &:focus {
    background: action-color;
    color: light-color;
  }
}

header a {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;

  &:link,
  &:visited {
    background: none;
    color: light-color;
  }

  &:hover,
  &:focus {
    background: light-color;
    color: action-color;
  }
}

button {
  background: action-color;
  border: none;
  color: light-color;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 0 auto;
  padding: 0.8em;
  text-align: center;
  width: 90%;

  &:hover,
  &:focus,
  &:active {
    background: darken(action-color, 20%);
  }
}

a,
button {
  i:first-child {
    margin-right: 0.8em;
  }

  i:last-child {
    margin-left: 0.8em;
  }
}

p {
  margin: 0.8em;
}

form {
  margin-top: 1em;
}

select {
  margin: 0.2em 0.8em 1em;
}
