.full-screen {
  background: darken(light-color, 10%);
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: 0;
}

.center-contents {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.adding {
  background: alpha(darken(light-color, 10%), 70%);
  @extends .center-contents;
}

.error {
  color: warning-color;
}

.remove {
  background: warning-color;

  &:hover,
  &:focus {
    background: darken(warning-color, 10%);
  }
}
