.full-screen {
  background: background-color;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: 0;
}

.center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.adding {
  background: alpha(darken(light-color, 10%), 70%);
  @extends .center-contents;
}

.error {
  color: warning-color;
}

.remove {
  background: warning-color;

  &:hover,
  &:focus {
    background: darken(warning-color, 10%);
  }
}

.empty {
  font-size: 1.2em;
  margin: 3em 1em;
  text-align: center;

  svg {
    margin-right: 0.8em;
  }
}
