.map {
  main {
    height: 100%;
    padding-top: 2.6em;
    top: 0;
    width: 100%;
  }

  .info {
    p {
      margin-left: 0;
      margin-right: 0;
    }

    a {
      text-align: center;
    }
  }
}
