.unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.sortable-item {
  color: action-color;
  display: flex;

  &.is-dragging {
    visibility: hidden;
  }

  .sortable-handle {
    @extends .center-contents;
    background: light-color;
    color: darken(light-color, 20%);
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    flex-shrink: 0;
    touch-action: none;
    width: 2em;
  }

  a {
    flex-grow: 2;
  }
}

.sortable-overlay {
  background: active-color;
  color: white;
  opacity: 0.5;
  height: 20px;
  width: 200px;
}
