.unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.sortable-item {
  color: action-color;
  display: flex;
  touch-action: none;

  &.is-dragging {
    visibility: hidden;
  }

  > .icon {
    @extends .center-contents;
    background: light-color;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    width: 2.8em;
  }

  a {
    flex-grow: 1;
  }
}

.sortable-overlay {
  background: active-color;
  color: white;
  opacity: 0.5;
  height: 20px;
  width: 200px;
}
