.house {
  form {
    margin-top: 0;
    padding-bottom: 1em;

    fieldset:first-of-type {
      margin-top: 1em;
    }
  }

  .__name {
    margin-bottom: 0;
  }

  .info {
    background: #dde1e1;
    padding: 0.4em 0.8em;

    p {
      margin-left: 0;
      margin-right: 0;
    }

    div p {
      margin-left: 0.8em;
    }

    .value {
      color: action-color;
    }
  }

  .links {
    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      flex-grow: 2;
      padding: 0.2em;
      min-width: 50%;
    }

    a {
      background: action-color;
      color: light-color;

      &:hover,
      &:focus,
      &:active {
        background: darken(action-color, 20%);
      }
    }
  }

  h3 {
    color: action-color;
    font-size: 1.3em;
    font-weight: 500;
    margin: 1em 0.6em;
  }

  .archive {
    margin-bottom: 1em;
    margin-top: 2em;
  }
}
