.house {
  form {
    margin-top: 0;
    padding-bottom: 1em;

    fieldset:first-of-type {
      margin-top: 1em;
    }
  }

  .__name {
    margin-bottom: 0;
  }

  .info {
    background: darken(light-color, 20%);
    padding: 0.4em 0.8em;

    p {
      margin-left: 0;
      margin-right: 0;
    }

    div p {
      margin-left: 0.8em;
    }

    .value {
      color: action-color;
    }
  }

  .link {
    background: action-color;
    color: light-color;
    margin-bottom: 0.4em;

    &:hover,
    &:focus,
    &:active {
      background: darken(action-color, 20%);
    }
  }

  .archive {
    margin-bottom: 1em;
  }
}
