.house {
  form {
    margin-top: 0;
    padding-bottom: 1em;

    fieldset:first-of-type {
      margin-top: 1em;
    }
  }

  .__name {
    margin-bottom: 0;
  }

  .links {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.4em;
      padding: 0.4em;
    }

    li {
      @extend .truncate-text;
    }

    a {
      background: action-color;
      color: light-color;
      @extend .truncate-text;

      &:hover,
      &:focus,
      &:active {
        background: darken(action-color, 20%);
      }
    }
  }

  h3 {
    color: action-color;
    font-size: 1.3em;
    font-weight: 500;
    margin: 1em 0.6em;
  }

  .archive {
    margin-bottom: 1em;
    margin-top: 2em;
  }
}

.house-info {
  padding: 0.4em 0.8em;

  p {
    margin-left: 0;
    margin-right: 0;
  }

  .monthly-costs p {
    margin-left: 0.8em;
  }

  .value {
    color: action-color;
    margin: 0 0.4em;
  }

  .is-over-limit {
    color: warning-color;
  }

  .break,
  .hypothetical,
  .toggle-hypotheticals {
    border-top: solid 1px lighten(dark-color, 40%);
    margin-top: 0.8em;
  }

  .toggle-hypotheticals {
    cursor: pointer;
    padding-top: 0.8em;
    padding-bottom: 0.2em;

    &:hover {
      color: action-color;
    }

    svg {
      margin-right: 0.4em;
    }
  }
}
