.list-house {
  a {
    @extends .truncate-text;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h3 {
    @extends .truncate-text;

    span {
      @extends .truncate-text;
      color: lighten(dark-color, 20%);
      display: block;
      font-size: 0.9em;
      margin-top: 0.4em;
    }
  }

  p {
    @extends .truncate-text;
    color: dark-color;
    font-size: 0.8em;
    text-align: right;
    margin: 0;

    span {
      @extends .truncate-text;
      color: lighten(dark-color, 20%);
      display: block;
      margin-top: 0.6em;
    }
  }

  a:hover,
  a:focus {
    h3 span,
    p,
    p span {
      color: light-color;
    }
  }

  .directions {
    @extends .center-contents;
    border-left: 1px solid background-color;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

header-color = dark-color

.compare {
  header {
    border-bottom: solid 1px tint(header-color, 30%);
  }

  main {
    overflow-x: scroll;
    padding-bottom: 13em;
    width: 100%;
  }

  table {
    border-bottom: solid 1px darken(light-color, 20%);;
    border-collapse: separate;
    position: relative;

    thead tr {
      position: sticky;
      top: 0;
    }

    @media screen and (min-width: 700px) {
      thead th:first-child,
      .field-label {
        left: 0;
        position: sticky;
      }
    }

    .row-odd {
      background: light-color;
    }

    th,
    td {
      line-height: 1.5;
      padding: 0.4em 0.8em;
      max-width: 20em;
    }

    td {
      border-right: solid 1px darken(light-color, 20%);
      vertical-align: top;
    }

    th,
    .field-label {
      border-bottom: solid 1px tint(header-color, 30%);
      border-right: solid 1px tint(header-color, 30%);
      background: header-color;
      color: darken(light-color, 10%);
    }

    th {
      @extend .truncate-text;
    }

    td:not(.field-label) {
      white-space: pre-wrap;
    }

    .field-label {
      text-align: right;
    }

    a {
      text-align: center;
    }
  }

  .house-info {
    margin-top: 1.5em;
    padding: 0;
  }
}
