.list-house {
  p {
    color: lighten(dark-color, 20%);
    font-size: 0.9em;
    margin: 0.2em 0 0;
  }
}

.houses {
  main {
    overflow-x: scroll;
    width: 100%;
  }

  .container {
    padding: 0.5em;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;

    .house {
      border: solid 0.1em darken(light-color, 40%);
      margin: 0.5em;
      width: 20em;

      main {
        bottom: auto;
        left: auto;
        position: static;
        right: auto;
        top: auto;
      }
    }

    header {
      display: none;
    }

    main {
      padding-top: 0;
    }

    .__name {
      margin-top: 0;
    }
  }
}

.archived-houses {
  main {
    padding-top: 1em;
  }
}
