.list-house {
  a,
  h3 {
    @extends .truncate-text;
  }

  p {
    @extends .truncate-text;
    color: lighten(dark-color, 20%);
    font-size: 0.9em;
    margin: 0.2em 0 0;
  }

  a:hover,
  a:focus {
    p {
      color: light-color;
    }
  }
}

header-color = dark-color

.compare {
  header {
    border-bottom: solid 1px tint(header-color, 30%);
  }

  main {
    overflow-x: scroll;
    padding-bottom: 13em;
    width: 100%;
  }

  table {
    border-bottom: solid 1px darken(light-color, 20%);;
    border-collapse: separate;
    position: relative;

    thead tr {
      position: sticky;
      top: 0;
    }

    @media screen and (min-width: 740px) {
      thead th:first-child,
      .field-label {
        left: 0;
        position: sticky;
      }
    }

    .row-odd {
      background: light-color;
    }

    th,
    td {
      padding: 0.6em 0.8em;
      max-width: 20em;
    }

    td {
      border-right: solid 1px darken(light-color, 20%);
      vertical-align: top;
    }

    th,
    .field-label {
      border-bottom: solid 1px tint(header-color, 30%);
      border-right: solid 1px tint(header-color, 30%);
      background: header-color;
      color: darken(light-color, 10%);
    }

    .field-label {
      white-space: nowrap;
    }

    th {
      @extend .truncate-text;
    }

    td:not(.field-label) {
      white-space: pre-wrap;
    }

    .field-label {
      text-align: right;
    }

    a {
      text-align: center;
    }
  }

  .house-info {
    margin-top: 1.5em;
    padding: 0;
  }
}
