.settings {
  .label {
    margin-bottom: 0.2em;

    + li {
      margin-top: 0.2em;
    }
  }

  main {
    padding-bottom: 0.8em;
  }
}

.field-item {
  a {
    display: flex;
    justify-content: space-between;

    .icon {
      color: lighten(dark-color, 20%);
    }
  }

  &.field-type-heading a {
    font-weight: bold;
  }
}
