<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Doogie</title>
  {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%= o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
  {% } %}

  <link rel="icon" href="icons/favicon.ico" type="image/ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon-precomposed" href="icons/app-icon-60.png">
  <link rel="apple-touch-icon-precomposed" href="icons/app-icon-120.png" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" href="icons/app-icon-180.png" sizes="180x180">
  <link rel="apple-touch-icon-precomposed" href="icons/app-icon-76.png"  sizes="76x76">
  <link rel="apple-touch-icon-precomposed" href="icons/app-icon-152.png" sizes="152x152">
</head>
<body>
  <div id="app"></div>
  {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%= o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
  {% } %}
</body>
</html>
