.login {
  button {
    margin-top: 1em;
  }

  .loading {
    background: action-color;
    color: light-color;
    margin: 1em auto 0;
    padding: 0.6em 0.8em;
    text-align: center;
    width: 90%;
  }
}
